@font-face{
    font-family: 'mont';
    src: url('fonts/Montserrat-Bold.ttf');

}
@font-face{
    font-family: 'mont-semi';
    src: url('fonts/Montserrat-SemiBold.ttf');

}
body{
    font-family: 'mont' !important;
}
.adder{
    border: 0px;
    border-radius: 25px !important;
    font-family: mont;
    font-size: 15px !important;
    text-transform: none !important;
}
.what{
font-family: 'mont-semi' !important;
}

.brand-logo{
    font-size: 18px !important;
}
.card-panel i {
    font-size: 39px !important;
}
.small{
    font-size: 35px;
    margin: 5px 10px;
}
#home{
    background-image: url('img/bg.png');
    background-size: cover;

}
.sm{
    font-size: 12px;
}



@media(max-width:768px){
      .brand-logo{
          font-size: 15px !important;
      }
      .small-text{
        font-size: 12px !important;
      }
      .md-title{
          font-size: 14px;
      }
}

