

body {
    font-size: 14px;
    font-weight: 300;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 28px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-padding {
    padding: 100px 0px;
}

.section-title {
    margin-bottom: 60px;
    text-align: center;
}

.section-title h2 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 0;
}


a.read-more {
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #623BCC;
    background-color: #623BCC;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
    border-radius: 5px;
}

a.read-more:hover {
    background: transparent;
    color: #000;
    border: 1px solid #623BCC;
    -webkit-transition: .3s;
    transition: .3s;
}

.scrollup {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 40px;
    cursor: pointer;
    display: none;
    z-index: 2;
    background: #623BCC;
}

.scrollup:hover {
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/*
* ----------------------------------------------------------------------------------------
* 02.PRELOADER & BOUNCE CCS STYLE
* ----------------------------------------------------------------------------------------
*/

.preloader-area {
    position: fixed;
    background: #fff;
    z-index: 11000;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.spinner {
    margin: auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -20px;
    top: 50%;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #623BCC;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot1 {
    background-color: #623BCC;
}

.dot2 {
    top: auto;
    background-color: #000;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*
* ----------------------------------------------------------------------------------------
* 03.HOMEPAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area {
    height: 100%;
}

.welcome-image-area {
    position: relative;
    height: 100%;
    background: url(../images/bg/mainbg.jpg);
    background-size: cover;
    z-index: 1;
}

.welcome-image-area:after {
    position: absolute;
    background: rgba(98, 59, 204, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text {
    margin-top: 60px;
}

.header-text h2 {
    color: #fff;
    font-size: 80px;
    margin-top: 10px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 0;
}

.header-text p {
    color: #fff;
    font-size: 20px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0px 300px;
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 26px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a p {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.mainmenu .navbar-nav li {
    margin-right: 30px;
}

.mainmenu .navbar-nav li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0;
    padding-left: 0;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 400;
}

.mainmenu .navbar-nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #fff;
    box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
    background: #fff;
    border: none;
}

.menu-bg .logo {
    padding-top: 16px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu-bg .logo a p {
    color: #000;
}

.menu-bg .mainmenu .navbar-nav li a {
    color: #333;
    padding-top: 22px;
    -webkit-transition: .3s;
    transition: .3s;
    padding-bottom: 22px;
}

.menu-bg .mainmenu .navbar-nav li a:hover {
    color: #623BCC;
}

a.slide-btn {
    margin: 0px 5px;
    display: inline-block;
    color: #000;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #fff;
    background-color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
    border-radius: 5px;
}

a.slide-btn:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: .3s;
    transition: .3s;
}

a.slide-btn.other-btn {
    background: transparent;
}

a.slide-btn.other-btn:hover {
    background: #623BCC;
}

.version:after {
    position: absolute;
    content: '';
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100%;
    width: 100%;
    left: -1px;
    right: -1px;
    bottom: 0;
    z-index: -1;
}

.version:after {
    background-image: url(../images/bg/banner-waves-2.png);
}


#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.particle-bg {
    background: url(../images/bg/particlebg.jpg);
    
}

/*
* ----------------------------------------------------------------------------------------
* VIDEO BACKGROUND CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-video-area {
    position: relative;
    height: 100%;
    background-size: cover;
    z-index: 1;
    background-position: center center;
}

.welcome-video-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}


/*
* ----------------------------------------------------------------------------------------
* 04.ABOUT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.about-text {
    margin-top: 80px;
}

.about-text h2 {
    margin-bottom: 18px;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 0;
}

.about-text h2 span {
    color: #fff;
}

.about-text p {
    margin-bottom: 20px;
}

.about-image img {
    border-radius: 0px 100px 0px 100px;
}

.margin-top-c {
    margin-top: 50px;
}


/*
* ----------------------------------------------------------------------------------------
* 05.SERVICE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.service-area {
    background: #F9F9F9;
}

.single-service {
    padding: 30px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 0px 50px 0px 50px;
}

.single-service:hover {
    box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
    -webkit-transition: .3s;
    transition: .3s;
}

.single-service h4 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 500;
    -webkit-transition: .3s;
    transition: .3s;
    color: #000;
}

.service-icon i {
    font-size: 30px;
    color: #fff;
    background: #623BCC;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
}

.single-service p {
    margin-bottom: 0;
    color: #333;
}


/*
* ----------------------------------------------------------------------------------------
* 06.CALL TO ACTION CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.call-to-action-small-area {
    background: #623BCC;
}

.call-to-action-small-area h2 {
    color: #fff;
    margin: 0;
}

.call-to-action-small-button {
    text-align: right;
}

a.call-to-more {
    margin: 0px 5px;
    display: inline-block;
    color: #000;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #fff;
    background-color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
    border-radius: 5px;
}


/*
* ----------------------------------------------------------------------------------------
* 07.KEY SKILL AREA CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.our-key-skill-area {
    background: #f9f9f9;
}

.our-skill,
.skill-text {
    margin-top: 30px;
}

.progress-bar-text span {
    float: right
}

.progress-bar-text {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    -webkit-transition: .3s;
    transition: .3s;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.progress-bar {
    background: #ccc none repeat scroll 0 0;
    box-shadow: 0 0 0;
    height: 12px;
    margin: 0 0 20px;
    position: relative;
    width: 100%;
}

.progress-bar > span {
    background: #623BCC none repeat scroll 0 0;
    display: block;
    height: 100%;
    width: 0;
}

.skill-text h2 {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 400;
    margin-top: 0;
}


/*
* ----------------------------------------------------------------------------------------
* 08. PORTFOLIO CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.gallery {
    background: #fff;
}

.gallery .col-md-4 {
    padding: 0;
}

.gallery .item {
    padding: 0;
    margin: 0;
}

.gallery figure.effect-julia img {
    height: auto;
    width: 100%;
}

.gallery .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.gallery figure.effect-julia h2 {
    position: relative;
    padding: 0.5em 0;
    text-align: center;
    margin-top: 90px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 400;
}

.gallery .item:hover figure.effect-julia h2 {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: .3s;
    transition: .3s;
}

/*
* ----------------------------------------------------------------------------------------
* 09.TESTIMONIAL CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.testimonial-area {
    background: #f7f7f7;
}


.single-testimonial {
    background: #fff;
    border-radius: 0px 100px 0px 100px;
    padding: 50px;
    text-align: center;
}


.single-testi-des {
    margin-bottom: 30px;
    color: #333;
    font-size: 30px;
}

.single-testi-des p {
    color: #333;
    font-size: 18px;
}

.single-testimonial img {
    width: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

.testi-name {
    text-align: center;
}

.testi-name h2 {
    font-size: 18px;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
    color: #000;
}

.testi-name h3 {
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 0;
    color: #333;
    margin-bottom: 0;
}

.owl-theme .owl-controls {
    margin-top: 30px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border: 1px solid #623BCC;
    background: #623BCC;
}


/*
* ----------------------------------------------------------------------------------------
* 10.FAQ CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.any-questions-area {}

#faq .panel-group .panel {
    margin-bottom: 8px;
}

#faq .panel-default {
    border: none;
}

#faq .panel-default > .panel-heading {
    background: #f0f0f0;
    color: #000;
}

#faq .panel-heading {
    border: none;
    padding-top: 8px;
    padding-bottom: 6px;
}

#faq .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
    padding-top: 22px;
    padding-left: 32px;
    padding-bottom: 22px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"] {
    font-size: 18px;
    font-weight: 300;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]:hover {
    color: #000;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]:after {
    content: "-";
    display: block;
    position: absolute;
    line-height: 1;
    right: 1em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed:after {
    content: "+";
    font-size: 20px;
}



/*
* ----------------------------------------------------------------------------------------
* 11.CONTACT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.contact-area {
    background: #f9f9f9;
}

.contact-details-list h2 {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 400;
    margin-top: 0;
}

.contact-details-list p {
    margin-bottom: 30px;
}

.single-contact {
    margin-bottom: 22px;
}

.single-contact h3 {
    font-size: 18px;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 400;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-contact h3 i {
    margin-right: 20px;
    background: #623BCC;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #fff;
}

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 10px;
    padding: 17px 7px 14px 15px;
    border: 1px solid #f2f2f2;
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s
}

.form-control:focus {
    border-color: #623BCC;
    outline: 0;
    box-shadow: none;
}

.contact-form input[type='submit'] {
    display: inline-block;
    color: #fff;
    padding: 15px 35px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #623BCC;
    background-color: #623BCC;
    font-weight: 600;
    border-radius: 0;
}

.contact-form input[type='submit']:hover {
    background: transparent;
    color: #000;
    border: 1px solid #623BCC;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.success {
    background: #50B948 none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}


/*
* ----------------------------------------------------------------------------------------
* 12.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.single-footer-top {
    padding-right: 30px;
}

.single-footer-top h2 {
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: 500;
    -webkit-transition: .3s;
    transition: .3s;
    color: #000;
}

.contact-social {}

.contact-social ul,
.footer-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact-social ul li {
    display: inline-block;
    margin-right: 10px;
}

.contact-social ul li a {
    font-size: 20px;
    color: #623BCC;
}

.footer-menu ul li {
    margin-bottom: 6px;
}

.footer-menu ul li a {
    color: #000;
    font-size: 14px;
}

/*
* ----------------------------------------------------------------------------------------
* 17.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.footer-area {
    background: #000;
    padding: 30px 0px;
}

.footer-text h6 {
    text-transform: capitalize;
    color: #fff;
    line-height: 25px;
    font-weight: 300;
    font-size: 16px;
}


/*
* ----------------------------------------------------------------------------------------
* PREVIEW CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.preview-body {
    background: #fafafa;
}

.preview-single-image img {
    width: 100%;
}

.preview-single-image {
    -webkit-transition: 1s;
    transition: 1s;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.preview-single-image:hover {
    -webkit-transition: 1s;
    transition: 1s;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.preview-single-image h2 {
    font-size: 20px;
    text-align: center;
    color: #000;
    background: #fff;
    margin: 0;
    padding: 30px 20px;
}

.preview-header-top-area {
    padding: 50px 0px;
}

.preview-header-top-area h2 {
    font-size: 80px;
    color: #623BCC;
    text-transform: capitalize;
    font-weight: 900;
}

.preview-header-top-area p {
    color: #333;
    font-size: 30px;
    font-weight: 300;
}

.main h2 {
    color: #000;
}

.main {
    margin-bottom: 180px;
}

.preview-single-image img {
    width: 100%;
}
