@font-face{
    font-family: 'mont';
    src: url('../fonts/Montserrat-Bold.ttf');

}
@font-face{
    font-family: 'mont-semi';
    src: url('../fonts/Montserrat-SemiBold.ttf');

}
@font-face{
    font-family: 'gotham';
    src: url('../fonts/gothamrounded-light.otf');

}
.showcase-img{
    width: 120px;
    height: 120px;
}
.visio{
    height: 300px;
}
.content{
    line-height: 30px;
    letter-spacing: 1px;
}
.more{
    float: right;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'mont' !important;
  }

  main {
    flex: 1 0 auto;
  }
      
.adder{
    border: 0px;
    border-radius: 25px !important;
    font-family: mont;
    font-size: 15px !important;
    text-transform: none !important;
}
.what{
font-family: 'mont-semi' !important;
}
.poem{
    font-family: 'gotham';
}
.writer-img {
    width: 150px;
    height: 150px;
}
.me-text{
    font-size: 12px;
}
.brand-logo{
    font-size: 18px !important;
}
.card-panel i {
    font-size: 39px !important;
}
.small{
    font-size: 35px;
    margin: 5px 10px;
}
#home{
    background-image: url(visions.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.sm{
    font-size: 12px;
}
.slogan{
    font-size: 12x;
}



@media(max-width:768px){
      .brand-logo{
          font-size: 15px !important;
      }
      .small-text{
        font-size: 12px !important;
      }
      .md-title{
          font-size: 14px;
      }
}

