
@font-face{
    font-family: 'monte';
    src: url('fonts/Montserrat-Medium.ttf');
}
@font-face{
    font-family: 'mont';
    src: url('fonts/Montserrat-Regular.ttf');
}
#canvas{
 margin:auto;
 background:#ececec;
    width: 100%;
    
}

.navbar{
    box-shadow:2px 2px 2px 2px #686fe1;
}
body{
    background: linear-gradient(to bottom,#686fe1 ,#ce561a);
    font-family: 'monte',serif;
}
.btn{
    text-transform: none !important;
    font-family: 'mont',serif !important;
}
.btn-disabled{
    color:#fff;
}
.adder .filter-btn{
    border:0px solid green;
    border-radius:3px !important;

}
.filter-btn{
     border:0px solid green;
       border-radius:25px !important;
  
}
.btn-group{
    border:0px solid inherit;
       border-radius:25px !important; 
}
.logo{
    width: 50px;
    height: 50px;
}
.brand-logo{
    font-size: 18px !important;
    
}
@media(max-width:768px){
    .adder .filter-btn{
        margin:5px;
    }
    .btn-group{
        margin:5px;   
    }
    .logo{
        width: 20px;
        height: 20px;
    }
}